<div class="pad">
  <table class="tg">
    <tr>
      <th class="tg-s268">Titulo</th>
      <th class="tg-0lax">Detalles Oferta</th>
      <th class="tg-0lax">Descuento</th>
      <th class="tg-0lax">Fecha Oferta</th> 
    </tr>
    <tr *ngFor="let oferta of ofertaLista">
      <th class="tg-0pky">{{oferta.titulo}}</th>
      <th class="tg-0pky">{{oferta.detalle}}</th>
      <th class="tg-0pky">{{oferta.descuento}}</th>
      <th class="tg-0pky">{{oferta.fecha}}</th>
    </tr>
  </table>
<br>
</div>
